{% extends "base.html" %} {% block title %}Blogs{% endblock %} 

{% block meta_title %}
{{ blogs.title }}
{% endblock %}

{% block og_title %}
{{ blogs.title }}
{% endblock %}

{% block meta_description %}
{{ blogs.content }}
{% endblock %}


{% block meta_keywords %}
{{ blogs.keywords }}
{% endblock %}


{% block content %}


{% block blog_details_top_heading %}
    {% include 'parts/blogs/blog_details_top_heading.html' %}
{% endblock blog_details_top_heading %}



{% block blog_details_main_area %}
            {% include 'parts/blogs/blog_details_main_area.html' %}
{% endblock blog_details_main_area %}


{% endblock %}