{% extends "base.html" %} {% block title %}Blogs{% endblock %} 


{% block content %}

{% comment %} {% block seach_area_banner %}
            {% include 'parts/blogs/blog_banner_search.html' %}
{% endblock seach_area_banner %} {% endcomment %}


    <div class="container">
        <div class="breadcrumb_text">
            <h2>Get a touch with <span>Contact Us</span></h2>
            <p>We are here to help. Discover our Mail to contact us so that we can provide you with the support you need.</p>
        </div>
    </div>

<section class="contact_area sec_pad">
    <div class="container">
        <div class="contact_info">
            <div class="section_title text-left">
                <h2 class="h_title wow fadeInUp">Let’s start the conversation</h2>
                <p>Please email us, we’ll happy to assist you.</p>
                <span>Email</span> : <a href="mailto:rikenkhadela777@gmail.com">rikenkhadela777@gmail.com</a>
            </div>
        </div>
    </div>
</section>


{% endblock %}