{% extends "base.html" %} {% block title %}Blogs{% endblock %} 


{% block content %}

{% block seach_area_banner %}
            {% include 'parts/blogs/blog_banner_search.html' %}
{% endblock seach_area_banner %}


{% block page_paths %}
    {% include "parts/page_paths.html" %}
{% endblock page_paths %}

{% block search_result %}
    {% include "parts/search_result.html" %}
{% endblock search_result %}

{% comment %} 
{% block top_blogs_post %}
            {% include 'parts/blogs/top_blogs_post.html' %}
{% endblock top_blogs_post %}


{% block blog_grid_area %}
            {% include 'parts/blogs/blog_grid_area.html' %}
{% endblock blog_grid_area %}


{% block subscribe_email %}
            {% include 'parts/blogs/subscribe_email.html' %}
{% endblock subscribe_email %}


{% block blog_mini_grid_area %}
            {% include 'parts/blogs/blog_mini_grid_area.html' %}
{% endblock blog_mini_grid_area %} {% endcomment %}


{% endblock %}