
{% block blog_details_top_heading %}
{% load static %}



<section class="breadcrumb_area_three">
    <div class="container">
        <div class="breadcrumb_content">
            <h1>{{ blogs.title }}</h1>
            <div class="single_post_author">
                
                {% if blogs.author_image  %}
                    <img class="author_img" src="{{ blogs.author_image }}" alt="">
                {% comment %} {% else %}
                    <img class="author_img" src="https://static.vecteezy.com/system/resources/thumbnails/035/857/779/small_2x/people-face-avatar-icon-cartoon-character-png.png" alt=""> {% endcomment %}
                {% endif %}
                <div class="text">
                    <a href="#"><h4>{{ blogs.author }}</h4></a>
                    <div class="post_tag">
                        <a href="#">{{ blogs.created_at|date:"F j, Y" }}</a>
                        <a href="#">{{ blogs.read_time }} Min Read</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock blog_details_top_heading %}
