{% block subscribe_email %}
{% comment %} <section class="doc_action_area_three">
    <img class="p_absolute shadows" src="img/blog-grid/shadow_action.png" alt="">
    <img class="p_absolute b_man" src="img/blog-grid/man.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="action_content">
                    <h2>Want to read more about your favourite <span>topic?</span></h2>
                    <p>Get regular updates in your inbox</p>
                </div>
            </div>
            <div class="col-lg-7">
                <form action="#" class="footer_subscribe_form action_subscribe_form">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Email Address">
                        <button class="s_btn" type="submit">Subcribe Now <i class="arrow_right"></i></button>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            I agree to the Docy Terms & Conditions
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> {% endcomment %}
{% endblock subscribe_email %}