 {% block top_blogs_post %} {% load static %}

<section class="blog_top_post_area sec_pad bg_color">
    <div class="container">

        {% for tranding_blog in trending_blogs %}
        <div class="row blog_top_post flex-row-reverse shadow">
            <div class="col-lg-7 p_top_img">
                <img style="width: 100%;height: 100%;" class="p_img" src="{{ tranding_blog.main_image }}" alt="">

            </div>
            <div class="col-lg-5 p-0">
                <div class="b_top_post_content">
                    <div class="post_tag">
                        <a href="{{ tranding_blog.full_url }}">9 Min Read</a>
                    </div>
                    <a href="{{ tranding_blog.full_url }}">
                        <h3>{{ tranding_blog.title }}</h3>
                    </a>
                    <p>{{ tranding_blog.content }}</p>
                    <a href="{{ tranding_blog.full_url }}" class="learn_btn">Continue Reading<i class="arrow_right"></i></a>
                    <div class="media post_author">
                        <div class="round_img">
                            <img src="{{ tranding_blog.author_image }}" alt="">
                        </div>
                        <div class="media-body author_text">
                            <h4>Jason Response</h4>
                            <div class="date">Sep 14, 2020</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>


{% endblock top_blogs_post %}