




{% block doc_community_area %}
{% load static %}


<section class="doc_community_area">
    <img class="shap_one" src={% static 'img/new/community_bg_shap_one.png' %} alt="">
    <img class="shap_two" src={% static 'img/new/community_bg_shap_two.png' %} alt="">
    <div class="container">
        <div class="doc_title text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.2s">How Docy works</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">Learn languages online with the world's best tutors
            </p>
        </div>
        <div class="doc_community_info">
            <div class="doc_community_item wow fadeInUp" data-wow-delay="0.2s">
                <div class="doc_community_icon">
                    <i class="icon_folder-alt"></i>
                </div>
                <div class="doc_entry_content">
                    <a href="#">
                        <h4>The Intercom Messenger</h4>
                    </a>
                    <p>Setting up and customizing your Messenger to start chatting with customers</p>
                    <div class="doc_entry_info">
                        <ul class="list-unstyled author_avatar">
                            <li><img src={% static 'img/new/img_02.png' %} alt=""></li>
                            <li><img src={% static 'img/new/img_03.png' %} alt=""></li>
                            <li><img src={% static 'img/new/img_04.png' %} alt=""></li>
                            <li>+2</li>
                        </ul>
                        <div class="text">
                            76 articles in this collection<br> Written by Ruairí Galavan, Jack Jenkins, DJ and 7
                            others
                        </div>
                    </div>
                </div>
            </div>
            <div class="doc_community_item wow fadeInUp" data-wow-delay="0.3s">
                <div class="doc_community_icon">
                    <i class="icon_comment_alt"></i>
                </div>
                <div class="doc_entry_content">
                    <a href="#">
                        <h4>The Intercom Messenger</h4>
                    </a>
                    <p>Setting up and customizing your Messenger to start chatting with customers</p>
                    <div class="doc_entry_info">
                        <ul class="list-unstyled author_avatar">
                            <li><img src={% static 'img/new/img_02.png' %} alt=""></li>
                            <li><img src={% static 'img/new/img_03.png' %} alt=""></li>
                            <li><img src={% static 'img/new/img_04.png' %} alt=""></li>
                            <li>+2</li>
                        </ul>
                        <div class="text">
                            76 articles in this collection<br> Written by Ruairí Galavan, Jack Jenkins, DJ and 7
                            others
                        </div>
                    </div>
                </div>
            </div>
            <div class="doc_community_item wow fadeInUp" data-wow-delay="0.4s">
                <div class="doc_community_icon">
                    <i class=" icon_lightbulb_alt"></i>
                </div>
                <div class="doc_entry_content">
                    <a href="#">
                        <h4>The Intercom Messenger</h4>
                    </a>
                    <p>Setting up and customizing your Messenger to start chatting with customers</p>
                    <div class="doc_entry_info">
                        <ul class="list-unstyled author_avatar">
                            <li><img src={% static 'img/new/img_02.png' %} alt=""></li>
                            <li><img src={% static 'img/new/img_03.png' %} alt=""></li>
                            <li><img src={% static 'img/new/img_04.png' %} alt=""></li>
                            <li>+2</li>
                        </ul>
                        <div class="text">
                            76 articles in this collection<br> Written by Ruairí Galavan, Jack Jenkins, DJ and 7
                            others
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center wow fadeInUp" data-wow-delay="0.4s">
                <a href="#" class="question_text">Contact us and we’ll get back to you<br>
                    as soon as we can.
                </a>
            </div>
        </div>
    </div>
</section>


{% endblock doc_community_area %}
