
{% block doc_testimonial_area %}
{% load static %}

<section class="doc_testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="doc_testimonial_slider">
                    <div class="item">
                        <h3>Tinkety tonk old fruit victoria sponge squiffy bleeder twit the bee's knees loo
                            David, buggered haggle pear shaped bubble and squeak.”</h3>
                        <div class="name"> 
                            <h5>Penny Tool,</h5>
                            <span>Director of Sales and Success</span>
                        </div>
                        <a href="#" class="sign"><img src={% static 'img/new/sign.png' %} alt=""></a>
                    </div>
                    <div class="item">
                        <h3>Hendrerit laoreet incidunt molestie eum placeat, neque ridiculus? Maecenas
                            incididunt aperiam tempora cumque quos?”</h3>
                        <div class="name">
                            <h5>Penny Tool,</h5>
                            <span>Director of Sales and Success</span>
                        </div>
                        <a href="#" class="sign"><img src={% static 'img/new/sign.png' %} alt=""></a>
                    </div>
                    <div class="item">
                        <h3>Curabitur vitae dignissimos pulvinar eligendi ullamcorper, laoreet, accusantium
                            numquam habitant quaerat minim consequatur”</h3>
                        <div class="name">
                            <h5>Penny Tool,</h5>
                            <span>Director of Sales and Success</span>
                        </div>
                        <a href="#" class="sign"><img src={% static 'img/new/sign.png' %} alt=""></a>
                    </div>
                    <div class="item">
                        <h3>Tinkety tonk old fruit victoria sponge squiffy bleeder twit the bee's knees loo
                            David, buggered haggle pear shaped bubble and squeak.”</h3>
                        <div class="name">
                            <h5>Penny Tool,</h5>
                             <span>Director of Sales and Success</span>
                            </div>
                        <a href="#" class="sign"><img src={% static 'img/new/sign.png' %} alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="doc_img_slider">
                    <div class="item">
                        <img class="dot" src={% static 'img/new/dot.png' %} alt="">
                        <div class="round one"></div>
                        <div class="round two"></div>
                        <img src={% static 'img/new/feedback_img.jpg' %} alt="">
                    </div>
                    <div class="item">
                        <img class="dot" src={% static 'img/new/dot.png' %} alt="">
                        <div class="round one"></div>
                        <div class="round two"></div>
                        <img src={% static 'img/new/feedback_img_02.jpg' %} alt="">
                    </div>
                    <div class="item">
                        <img class="dot" src={% static 'img/new/dot.png' %} alt="">
                        <div class="round one"></div>
                        <div class="round two"></div>
                        <img src={% static 'img/new/feedback_img_03.jpg' %} alt="">
                    </div>
                    <div class="item">
                        <img class="dot" src={% static 'img/new/dot.png' %} alt="">
                        <div class="round one"></div>
                        <div class="round two"></div>
                        <img src={% static 'img/new/feedback_img_04.jpg' %} alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock doc_testimonial_area %}
