
{% load static %}
{% block recommended_topic_area %}
<section class="recommended_topic_area">
    <div class="container">
        <div class="recommended_topic_inner">
            <img class="doc_shap_one" src={% static 'img/new/shap.png' %} alt="">
            <div class="doc_round one" data-parallax="{&quot;x&quot;: -80, &quot;y&quot;: -100, &quot;rotateY&quot;:0}" style="transform:translate3d(-14.342px, -17.932px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(-14.342px, -17.932px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); "></div>
            <div class="doc_round two" data-parallax="{&quot;x&quot;: -10, &quot;y&quot;: 70, &quot;rotateY&quot;:0}" style="transform:translate3d(-4.917px, 34.567px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(-4.917px, 34.567px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); "></div>
            <div class="doc_title text-center">
                <h2 class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Recommended Topics</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Loaded with awesome features like Documentation,
                    Knowledgebase,<br> Forum &amp; more!</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <img src={% static "img/new/smile.png" %} alt="">
                        <a href="#">
                            <h3>Getting Started</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="#">Welcome to Ghost</a></li>
                            <li><a href="#">Writing posts with Ghost</a></li>
                            <li><a href="#">Publishing options</a></li>
                            <li><a href="#">Managing admin settings</a></li>
                            <li><a href="#">Organising your content</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <img src={% static 'img/new/house.png' %} alt="">
                        <a href="#">
                            <h3>Advanced Usage</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="#">Getting started</a></li>
                            <li><a href="#">Become a Pro</a></li>
                            <li><a href="#">Admin &amp; Billing</a></li>
                            <li><a href="#">Mobile App</a></li>
                            <li><a href="#">Guides</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <img src={% static 'img/new/doc.png' %} alt="">
                        <a href="#">
                            <h3>Knowledge Base</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="#">Organising content in Ghost</a></li>
                            <li><a href="#">Using the editor</a></li>
                            <li><a href="#">General publication settings</a></li>
                            <li><a href="#">Publishing Options</a></li>
                            <li><a href="#">Knowledge Base</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <img src={% static 'img/new/bag.png' %} alt="">
                        <a href="#">
                            <h3>User Settings</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="#">How do I reset my password</a></li>
                            <li><a href="#">Managing your team</a></li>
                            <li><a href="#">Can I add my social accounts</a></li>
                            <li><a href="#">Imports and exports</a></li>
                            <li><a href="#">Design Settings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <a href="#" class="question_text">Want to know more or have a<br> Question?
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock recommended_topic_area %}
