

{% block footer %}
{% load static %}

<footer class="doc_footer_area">
    <div class="doc_footer_top bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="f_widget doc_about_widget wow fadeInUp" data-wow-delay="0.2s">
                        <a href="#">
                            <img src={% static 'img/5.png' %} style="max-width: 10em;" class="logo-light" srcset={% static 'img/5.png' %} alt="">
                            <img src={% static 'img/6.png' %} style="max-width: 10em;" class="logo-dark" srcset={% static 'img/6.png' %} alt="">
                        </a>
                        <p>I’m available for promotion or promotion based commissions and collaborations, and i’m excited to hear from you !!</p>
                        {% comment %} <ul class="list-unstyled">
                            <li><a href="#"><i class="social_facebook"></i></a></li>
                            <li><a href="#"><i class="social_twitter"></i></a></li>
                            <li><a href="#"><i class="social_vimeo"></i></a></li>
                            <li><a href="#"><i class="social_linkedin"></i></a></li>
                        </ul> {% endcomment %}
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="f_widget doc_service_list_widget pl-100 wow fadeInUp" data-wow-delay="0.4s">
                        <h3 class="f_title_two">Support</h3>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'blog:blogs_contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="f_widget doc_service_list_widget pl-70 wow fadeInUp" data-wow-delay="0.5s">
                        <h3 class="f_title_two">Company</h3>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'blog:blogs_about' %}">About Us</a></li>
                            {% comment %} <li><a href="#">Partners</a></li> {% endcomment %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="doc_footer_bottom">
        <div class="container d-flex justify-content-between">
            <ul class="doc_footer_menu list-unstyled wow fadeInUp" data-wow-delay="0.2s">
                <li><a href="{% url 'blog:blogs_main' %}">Blog</a></li>
            </ul>
            <p class="wow fadeInUp" data-wow-delay="0.3s">© 2024 All Rights Reserved Design and content by
                <span>Riken Khadela</span>
            </p>
        </div>
    </div>
</footer>


{% endblock footer %}
